.greeting-container {
  display: flex;
  justify-content: center;

  margin: 100px 0;

  .greeting {
    .greeting-fullname {
      display: inline-block;
      font-size: 3rem;
      padding: 20px 40px;
      background-color: var(--color-background);
      border: 5px solid var(--color-blue);
      border-radius: 100px;

      transition-duration: 200ms;

      &:hover {
        scale: 1.1;
        rotate: -4deg;
      }
    }

    .greeting-description {
      font-size: 1.2rem;
      display: inline-block;

      padding: 10px 20px;
      background-color: #f7f0ff;
      border: 3px solid #6e08fa;
      border-radius: 50px;

      margin-top: 20px;
      margin-left: 100px;

      transition-duration: 200ms;

      &:hover {
        translate: 10px 0;
      }
    }
  }
}
