header {
  background-color: var(--color-blue);
  color: var(--color-text-filled);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  padding: 0 20px;
  min-height: 50px;

  position: sticky;
  top: 0;
  z-index: 100;

  .header-name {
    margin: 10px 0;
    margin-right: 20px;
    font-size: 1.25rem;
  }

  nav {
    margin: 10px 0;

    a {
      display: inline-block;
      text-decoration: none;
      color: white;
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;

      transition-duration: 200ms;
      transition-property: background-color, scale;

      &:hover {
        background-color: var(--color-blue-darker);
        text-decoration: none;
      }

      &:active {
        scale: 0.95;
      }
    }
  }
}
