header {
  background-color: var(--color-primary-blue);
  color: white;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;

  position: sticky;
  top: 0;
  z-index: 100;

  .header-name {
    font-size: 1.25rem;
  }

  nav {
    a {
      display: inline-block;
      text-decoration: none;
      color: white;
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;

      transition-duration: 200ms;
      transition-property: background-color, scale;

      &:hover {
        background-color: var(--color-primary-blue-2);
        text-decoration: none;
      }

      &:active {
        scale: 0.95;
      }
    }
  }
}
