.project-card {
  display: flex;
  flex-wrap: wrap;

  justify-content: left;
  align-items: start;
  gap: 40px;

  border-radius: 10px;

  .project-card-icon img {
    display: block;
    max-width: 500px;
    border-radius: 10px;

    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;

    box-shadow: 0 0 8px 0px var(--color-img-shadow);
  }

  .project-card-info {
    min-width: 300px;
    flex: 1;

    p.project-card-title {
      font-size: 2rem;
      margin-bottom: 0;
    }

    p {
      font-size: 1.125rem;
    }
  }

  .project-card-tags {
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;

    span {
      padding: 5px 10px;
      //background-color: var(--color-grey-20);
      border: 2px solid var(--color-grey-20);
      border-radius: 20px;

      transition-duration: 200ms;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
