.screenshot-container {
  display: inline-block;

  p {
    font-size: 1.5rem;
    width: 0;
    min-width: 100%;
    text-align: center;
  }

  img,
  video {
    border-radius: 10px;
    box-shadow: 0 0 8px 0px var(--color-img-shadow);

    &.landscape {
      max-width: 100%;
    }

    &.portrait {
      max-height: 640px;
    }
  }
}
